:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  display: flex;
  min-width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  justify-content: center;

}

body #root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: stretch;
  align-self: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

.links a{
  color: #0080ff;
  transition: all 0.25s ease;
}

.links a:hover {
  color: #0056b3;
}

.todoapp{
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  margin: 50px;
  margin-top: 10px;
  padding: 50px;
  padding-bottom: 10px;
  transition: all 0.25s ease;
  filter: drop-shadow(0px 0px 10px #0c0c0c);
  border-radius: 10px;
  border: 1px solid #1a1a1a;
}

.todoapp h1 {
  margin-bottom: 1em;
}

.todoapp form {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todoapp form input {
  width: 120%;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  margin-bottom: 1em;
  outline: none;
}

.todoapp form input:focus {
  border-color: #646cff;
  border: 1px solid #646cff;
}

.todoapp ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.todoapp ul li:first-child {
  border-top: 1px solid #575757;
}

.todoapp ul li {
  display: flex;
  justify-content: space;
  align-items: center;
  padding: 0.6em 1.2em;
  border-bottom: 1px solid #575757;
  width: 90%;
  text-decoration: none;
}

.todoapp ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
}



.todoapp ul li div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f02626;
  align-self: flex-end;
  font-size: 1.2em;
  border: 1px solid #f02626;
  text-decoration: none;
  text-decoration-color: transparent;
}

.todoapp ul li div button:hover {
  color: #ff4d4d;
  border-color: #ff4d4d;
  background-color: #ff4d4d18;
  text-decoration: transparent;
}

.todoapp ul li div label {
  text-align: start;
  font-size: 1.1em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.footer span {
  font-size: 1.3em;
}

.todoapp .footer .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  flex-direction: row;
  width: 100%;
}

.todoapp .footer .filters ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  width: 100%;
}

.todoapp .footer .filters  li {
  display: flex;
  flex-direction: row;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todoapp .footer .filters a{
  margin: 0 0.5em;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 1px solid #ffffff;
  padding: 0.6em 1.2em;
  border-radius: 10px;
  color: #ffffff;
  width: 100%;
}

.todoapp .footer .filters ul li{
  border: 1px solid #8287ee;
}

.todoapp .footer .filters a {
  transition: all 0.25s ease;
}

.todoapp .footer .filters a:hover {
  background-color:#ffffff0d  ;
  
}

.todoapp .footer .filters  .selected {
  border: 1px solid #535bf2;
  color: #535bf2;
  background-color:#535bf221;
}


.todoapp .footer  button {
  cursor: pointer;
  color: #f0a626;
  font-size: 1em;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 30px;
  align-self: flex-end;
}

.todoapp .footer  button:hover {
  text-decoration: underline;
  border: 1px solid transparent;
}